<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list size="6" *ngFor="let product of cartArray;">
  <ion-item>
    <ion-label>
      <h2>{{product.product.name}}</h2>
      <p>${{product.product.price}}</p>
      <p>x{{product.quantity}}</p>
    </ion-label>
    <ion-label>
      <p>Precio total</p>
      <p>{{product.product.price | currency}}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  
</ion-list>

<ion-item>
  <ion-label >
    <h1>Total carrito:</h1>
    <p>{{totalCart | currency}}</p>
  </ion-label>
</ion-item>