<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list size="5" *ngFor="let product of cartArray;index as i">
    <ion-item>
      <ion-label>
        <img [src]="product.product.photo+i" style="width: 20em; height: auto;"/>
      </ion-label>
      <ion-label>
        <h2>{{product.product.name}}</h2>
        <p>${{product.product.price}}</p>
      </ion-label>
      <ion-label>
        <p>x{{product.quantity}}</p>
      </ion-label>
      <ion-label>
        <p>Precio total</p>
        <p>{{product.subtotal | currency}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    
  </ion-list>
  
</ion-content>

<ion-item>
  <ion-label >
    <h1>Total carrito:</h1>
    <p>{{totalCart | currency}}</p>
  </ion-label>
</ion-item>